*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	height: 100%;
	padding: 5px;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color:#CFCBC9;
}

header, footer{
	text-align: center;
	background-color: #64005D;
	color: white;
	margin: 3px;
}

header{
	flex: 0.75;
}

footer{
	flex: 1
}

#centerMain{ /* For the main middle part of the page between header and footer*/
	flex: 6;
	display: flex;
	flex-direction: column;
	margin: 3px;
	border: 3px ridge gray;
}

#formSection{ /* Form half of the main middle section*/
	background-color: #CFCBC9;
	flex: 1;
	display: flex;
	padding: 5px 3px 0px;
	flex-direction: column;*/
}

form{
	height: 75%;
	width: 100%;
	background-color: #F5F5DD;
	display: flex;
	flex-direction: column;
}

fieldset{
	flex: 3.5;
	margin: 3px;
	border: 2px solid #D3D3D2;
	padding: 5px 10px;
	display: flex;
}

legend{
	color: #B03230;
	font-size: 120%;
	font-family: sans-serif;
	background-color: #F4FFFA;
}

fieldset > section {
	flex: 1;
	background-color: #F5F5DD;
	display: flex;
	flex-direction: column;
	padding: 3px;
	border: 1px dashed green;
}

legend, label{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.fieldPairs{ /* Every label + input (or select) pair*/
	display: flex;
	flex-wrap: wrap;
	background-color: #F5F5F5;
	margin: 2px;
}

label{
	font-weight: bold;
	flex: 1.25;
	border: 1px dashed red;
	text-align: right;
}

.fieldPairs input, .fieldPairs select{
	flex: 3;
}

.fieldPairs p{
	flex: 0.75;
}

#descGroup{ /* The last quarter-divided section which has the textarea*/
	display: flex;
	flex-wrap: wrap;
	background-color: #F5F5F5;
	margin: 2px;
}

#descGroup label{
	flex: 1;
	max-width: 100px;
}

textarea{
	width: 100%;
	height: 70px;
}

.fieldPairs, #descGroup{
	padding: 5px;
}

#formButtons{
	background-color: #F5F5DD;
	flex: 1;
	margin: auto;
	display: flex;
	width: 50%;
	justify-content: space-around;
}

#addButton:disabled{
	color: #EAEAEA;
	background-color: lightgray;
}

button{
	color: white;
	background-color: #005FA9;
	border: 2px outset lightgray;
	width: 150px;
	height: 30px;
	font-family: sans-serif;
}

#listSection{ /* The lower half of the main middle section with the table, search box*/
	background-color: #589C9E;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#arrayControls{ /* The section for the 4 lower buttons on the page*/
	flex: 1;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 50%;
	justify-content: space-around;
}

#queryBox{ /* Section for the search box*/
	flex: 1;
	display: flex;
	justify-content: center;
}

#querySearch{ /* The search box itself*/
	width: 50%;
	margin-bottom: 5px;
}

#listArea{ /* Section where the table will go*/
	flex: 8;
	display: flex;
	flex-direction: column;
}

#statusBar{ /* Where the button action messages display*/
	background-color: #EFF8FE;
	flex: 1;
	display: flex;
	align-items: center;
}

#tableDisplay{ /* Section where the table itself goes*/
	flex: 8;
	text-align: center;
	display: flex;
	align-items: flex-start;
	overflow: auto;
}

.forceNextLine{ /* Used to allow the input/error message that's added by js to be on the next line*/
	width: 100%;
}

.errorMsg{ /*Input/error message <p> element added by js */
	width: 70%;
	margin-top: 1px;
	color: white;
	background-color: #8F020A;
}

table{
	border: 1px dashed red;
	background-color: #EFF8FE;
	width: 100%;
}

table, #statusBar{
	margin-left: 20px;
	margin-right: 20px;
}

thead td{
	color: white;
	background-color: #004C27;
	border: 1px solid #9ABBB1;
}

tbody tr:nth-child(odd) td{
	background-color: #BFBFBF;
	border: 1px solid #B2B2B2;
}

tbody tr:nth-child(even) td{
	background-color: #FFFFFF;
	border: 1px solid #CFCFCF;
}

tr{
	height: 25px;
}

td{
	text-align: center;
}

.update, .save, .remove{  /* For the respective buttons in the lower half*/
	cursor: pointer;
}

#statusBar p{
	color: #942123;
}
